In [2]:
a=2
b=2.4
c="frsfnjref"
d=2+3j

print(a,b,c,d)

2 2.4 frsfnjref (2+3j)

## All variables types and values find

%whos

# _ -----------> underscore varibale name is coreect
# Python variable is case sensitive

In [4]:
first_name="John"
last_name="Doe"
full_name=first_name+" "+last_name
print(full_name)

John Doe

#Exmaple---1

In [ ]:
product_one_qun=5
product_one_price=250

product_two_qun=25
product_two_price=656

product_three_qun=34
product_three_price=274

 
p1=product_one_qun*product_one_price
p2=product_two_qun*product_two_price
p3=product_three_qun*product_three_price

print("Total price",p1+p2+p3)

#area of the circle

In [11]:
r=12
pi=3.1416

area=pi*r*r

print(area)

452.3904

In [14]:
#Str to float------------------>just use float function to convert str to float
#number to str------------------->use str function

#1
a="3.14"
b=float(a)
b
print(type(b))

#2

c=34
d=str(c)
print(type(d ))

<class 'float'>

In [ ]:
# abs function---------------> with this fuction we can make thing or number in  positive

In [15]:
db=[{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'},{"x",-23,'1234'}]
print(len(db))

8

In [26]:
for i in db:
    print(i)
    for j in i:
        print(j)

{'1234', -23, 'x'}

TypeError: 'set' object is not subscriptable